.code{
	background-color:#ffffff;
	overflow: visible;
	 word-wrap: normal;
     
}
/*comment*/
.gray{
	color: #6a737d;
	
}
/*methods from library*/
.blue{
	 color: #005cc5;
}
/*methods or constructor 
from programmer*/
.purple{
	color:#6f42c1;
}

.space{
   
}
/*key words*/
.orange{
	color: #d73a49;
}