body{
	background:url(portfolio/circut_board.png);
}


.h2title{
	
	color:#0b414f;
	font-weight:200;
}
.title{
	font-size:15px;
	font-family: Monospace;
    color:#2dabc7;
	font-weight:800;

}


ul{
	    list-style-type: none;
		     
}
li{
	
	margin:0 0 80px 0;  
	
}
a{
	text-decoration:none;
}
a:hover {color: yellow;}


.desktop_position{
	margin-left:240px;
}
nav.nav-extended{
height:9%!important;

}

#mono{
	font-family: Monospace;
}

#floatdiv{
	position:absolute;
	
	width: 240px;
    height:100vh;
	float: left;
	height:100vh;
    background-color: #FFF;
}


