body{
	  width:1900px;
        margin-left:auto;
        margin-right:auto;
}
.introductionToWebsite{
	height: 1080px;
    
	background-color:#cb86ff;
}
.mySelfIntroduction{
  
   height: 1080px;
   vertical-align: middle;
   background-color:#f794f2;
   
}

article{
	font-size:100%;
	
}

#links_to_conten{
	color: #4183c4;
	font-weight: normal;
}

.textWebsiteIntroduction{
  color:#f5ff86;
  font-size:200px;
  display: table-cell;
   vertical-align: middle;
  font-weight: 700;
  text-align: center;
}
.section_text {
  color:#f7eb94;
  font-size:70px;
  display: table-cell;
  font-weight: 900;
  text-align: center;
  
}

#floatdiv{
	position:absolute;
	margin-left:10px;
	width: 240px;
	float: left;
	height:100vh;

}
#btnSelection{
 margin-left:5px;
 margin-bottom:10px;
}

.main_content{
	
	margin-left:290px;
   width:1000px;
}

.image_myself{
    border-radius: 50%;
	width:400px;
	height:360px;
    margin-top:50px;
	margin-left:750px;
}
.mainContentColor{
	background-color:#feffc4;
	
}


.mail_icon{
   border-radius: 50%;
   width:42px;
	height:42px;
	margin-left: 30px;
	margin-top:10px;
	margin-top:10px;
	
}


.github_icon{
	margin-top:15px;
	border-radius: 50%;
   width:40px;
	height:40px;
	margin-left:40px;
   
}
.face_icon{
	margin-top:10px;
	   border-radius: 50%;
   width:55px;
	height:50px;
	margin-left:30px;
   float:left;
   margin-bottom:40px;
}


@media only screen and (max-width: 1024px){
.overflowdiv{
   overflow: scroll;
 
}
body{
	  width:1024px;
        margin-left:auto;
        margin-right:auto;
}
.introductionToWebsite{
	height: 1080px;
    
	background-color:#cb86ff;
}
.mySelfIntroduction{
  
   height: 1080px;
   vertical-align: middle;
   background-color:#f794f2;
   
}



#links_to_conten{
	color: #4183c4;
	font-weight: normal;
}

.textWebsiteIntroduction{
  color:#f5ff86;
  font-size:100px;
  display: table-cell;
  /*  vertical-align: middle; */
  font-weight: 700;
  text-align: center;
}
.section_text {
	
	margin-left:370px;
	width:900px;
  color:#f7eb94;
  font-size:50px;
  /* display: table-cell; 
  text-align: center;*/
  font-weight: 900;
 
}

#floatdiv{
	margin-left:10px;
	width: 240px;
	float: left;

}
#btnSelection{
 margin-left:5px;
 margin-bottom:10px;
}

.main_content{
	 
	margin-left:250px;
   width:600px;
}

.image_myself{
    border-radius: 50%;
    width:400px;
	height:360px;
    margin-top:50px;
	margin-left:260px;
}
.mainContentColor{
	background-color:#feffc4;
	font-size:150%;
}


.mail_icon{
   border-radius: 50%;
   width:42px;
	height:42px;
	margin-left: 30px;
	margin-top:10px;
	margin-top:10px;
	
}


.github_icon{
	margin-top:15px;
	border-radius: 50%;
   width:40px;
	height:40px;
	margin-left:40px;
   
}
.face_icon{
	margin-top:10px;
	   border-radius: 50%;
   width:55px;
	height:50px;
	margin-left:30px;
   float:left;
   margin-bottom:40px;
}
}

 /*mobile*/
@media only screen and (max-width: 768px){	
.overflowdiv{
   overflow: scroll;
}
body{
	    width:768px;
    
}
.introductionToWebsite{
	height: 100vh;
    
	background-color:#cb86ff;
}
.mySelfIntroduction{
  
   height: 100vh;
   vertical-align: middle;
   background-color:#f794f2;
   
}

article{
	width:700px;
	font-size:20px;
}

#links_to_conten{
	color: #4183c4;
	font-weight: normal;
}

.textWebsiteIntroduction{
  color:#f5ff86;
  font-size:145px;
  text-align:center;
  width:200px;


}
.section_text {
	
  text-align:center;
  color:#f7eb94;
  font-size:30px;
  width:700px;
float:right;
margin-right:50px;
}

#floatdiv{
  margin-right:5px;
  width:100vw;
  background-color:#cb86ff;
  position:absolute;
  display: flex;
}
#icons_container{
	position: right;
}

#btnSelection{
    position: right;
}

.main_content{
	width:700px;
   margin-left:5px;
  
}

.image_myself{
   border-radius: 50%;
    width:350px;
	height:290px;
    margin-top:50px;
	margin-left:210px;
}
.mainContentColor{
	background-color:#feffc4;
	
}

#git20{
	
	width:700px;
	
}
#git19{
	
	width:700px;
	
}

#git18{
	
	width:700px;
	
}

#git17{
	
	width:700px;
	
}

#git16{
	
	width:700px;
	
}

#git15{
	
	width:700px;
	
}

#git14{
	
	width:700px;
	
}

#git13{
	
	width:700px;
	
}

#git12{
	
	width:700px;
	
}

#git11{
	
	width:700px;
	
}

#git10{
	
	width:700px;
	
}

#git9{
	
	width:700px;
	
}

#git8{
	
	width:700px;
	
}

#git7{
	
	width:700px;
	
}

#git6{
	
	width:700px;
	
}

#git5{
	
	width:700px;
	
}

#git4{
	
	width:700px;
	
}

#git3{
	
	width:700px;
	
}

#git2{
	
	width:700px;
	
}

#git1{
	
	width:700px;
	
}

#git0{
	
	width:700px;
	
}

}