body{
	background:url(portfolio/circut_board.png);
}






a{
	text-decoration:none;
}



.desktop_position{
	margin-left:240px;
}
nav.nav-extended{
height:9%!important;

}

#mono{
	font-family: Monospace;
}

#floatdiv{
	position:absolute;
	
	width: 240px;
    height:100vh;
	float: left;
	height:100vh;
    background-color: #FFF;
}
.card-reveal ul li {
  
    list-style-type: disc;
}

.material-icons.blue1234{ color: #BBDEFB; }

